#presentation, #stack, #journey, #network {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  ul {
    display: flex;
    gap: 20px; 
  }

  li {
    list-style-type: none; 
  }
  
  h1 {
    font-size: 8vh;
  }

}

#stack {
  flex-wrap: nowrap;
  min-height:5vh;

  h2 {
    font-size: 5vh;
    margin-bottom: 26px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  li {
    list-style-type: none;
  }

  .icon{
    width: 3rem;
    height: 3rem; 
    animation: float 3s ease-in-out infinite; 
    transition: transform 0.3s ease;
  }
}

@keyframes float {
  0% {
    transform: translateY(0); 
  }
  50% {
    transform: translateY(-10px); 
  }
  100% {
    transform: translateY(0); 
  }
}

#journey {
  ul {
    margin-top: 3vh;
    flex-direction: column;
  }

  li {
    list-style-type: disc;
  }
}

#network{
  height: 20vh;

  img {
    margin-top: 1rem;
    width: 2rem;
    height: 2rem;
  }

  ul li {
    list-style-type: none;
  }

}

@media (max-width: 480px) {
  

  #stack, #project,  #presentation, {
    max-width: 100%; 
    overflow: hidden; 
  }

  #stack ul, #project div, #journey ul {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    padding: 0; 
    margin: 0; 
  }

  h1 {
    max-width: 80%;
    font-size: 10vh;
  }
  h1, h2{
    text-align: center;
  }

  p {
    text-align: center;
    width: 100%;
  }

  ul li {
    margin-right: 2px;
  }
}